<%- include('partials/header'); -%>

<div class="page-intro">
  <h1>Edit</h1>
  <form action="/edit" method="Post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="editTitle" value="<%= title %>">
      <label>Post</label>
      <textarea class="form-control" name="editContent" rows="5" cols="30"><%= content %></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Update</button>
  </form>
</div>

<%- include('partials/footer') -%>
