.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  background-color: transparent;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li:hover {
  background-color: #00FFAB;
  color: #000000 !important;
  border-radius: 6px;
  transform: scale(1.1);
  transition: all .25s ease-in-out;
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-default .navbar-brand:hover {
  color: #000001;
}

/* Main Start*/
.brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 2.5rem;
  line-height: 20px;
  color: #777777;
}

.background-color {
  background-color: #D3DEDC;
  padding-bottom: 10rem;
}

.main-content {
  white-space: pre-line;
}

.container-main {
  margin: 10rem 5rem 0 5rem;
  text-align: center;
}

.welcome {
  font-size: 9rem;
  font-weight: bold;
  color: #000000;
}

.introduction {
  color: #333;
  font-size: lighter;
}

.container-main-2 {
  text-align: center;
  margin: 10rem;
}

.featured {
  padding: 10px 0;
  background-color: #D3DEDC;
}

.box-border {
  overflow: hidden;
  border-style: solid;
  border-radius: 10px;
  border-color: #777777;
  background-color: #fff;
}

.card-post {
  border-top: solid;
  border-color: #777777;
}

/* changes nav text color */
.navbar-default .navbar-nav>li>a {
  color: #000000;
}

.btn-primary {
  background-color: #00FFAB;
  color: #000000;
  border-color: #00FFAB;
}

.btn-primary:hover {
  background-color: #00FFAB;
  color: #000000;
  border-color: #00FFAB;
  transform: scale(1.1);
  transition: all .25s ease-in-out;
}

/* Main end */

/* Alt pages start */
.page-intro {
  margin: 0 5rem 0 5rem;
  padding-left: 1.5rem;
}

/* alt pages end */
footer {
  text-align: center;
  color: #000000;
  right: 0;
  bottom: 0;
  left: 0;
}
