/* NAVIGATION START */
.navbar {
  padding-top: 15px;
  background-color: transparent;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

/* controls navbar hover when in mobile view */
@media (max-width: 767px) {
  .navbar-nav li:hover {
    background-color: #00FFAB;
    color: #000000;
    border-radius: 6px;
  }
}

/* contorls navbar when in wide screen view */
@media (min-width: 767px) {
  .navbar-nav li:hover {
    background-color: #00FFAB;
    color: #000000;
    border-radius: 6px;
    transform: scale(1.1);
    transition: all .25s ease-in-out;
  }
}

.navbar-default .navbar-brand {
  color: #000000;
}

/* changes nav text color */
.navbar-default .navbar-nav>li>a {
  color: #000000;
}
/* NAVIGATION END */

/* INTRO START */
.brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 2.5rem;
  line-height: 20px;
  color: #777777;
}

.background-color {
  background-color: #F1F9F9;
  padding-bottom: 10rem;
}

.main-content {
  white-space: pre-line;
}

.container-main {
  margin: 10rem 5rem 0 5rem;
  text-align: center;
}

.welcome {
  font-size: 9rem;
  font-weight: bold;
  color: #000000;
}

.introduction {
  color: #333;
  font-size: lighter;
}

.container-main-2 {
  text-align: center;
  margin: 10rem;
}
/* INTRO END */

/* CARDS START */
.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.post-date {
  color: #000000;
  margin-left: 25px;
}

.col-sm-6 {
  margin-bottom: 30px;
}

.card {
  background-color: #f1f9f9;
  border-radius: 10px 10px 10px 10px;
}

.card-title {
  padding-left: 25px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.card-text {
  padding: 0 25px;
  color: #73777B;
  text-align: left;
}

.btn-primary {
  background-color: #00FFAB;
  color: #000000;
  border-color: #00FFAB;
  margin-bottom: 2rem;
}

.btn-primary:hover {
  background-color: #00FFAB;
  color: #000000;
  border-color: #00FFAB;
  transform: scale(1.1);
  transition: all .25s ease-in-out;
}

/* left aligns anchor button inside card */
.text-left a {
  margin-left: 25px;
}
/* CARDS END */

/* Alt pages start */
.page-intro {
  margin: 0 5rem 0 5rem;
  padding-left: 1.5rem;
}

/* alt pages end */
footer {
  text-align: center;
  color: #000000;
  right: 0;
  bottom: 0;
  left: 0;
}
